<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>The Rt Hon David Cameron</key>
	<dict>
		<key>year</key>
		<integer>2010</integer>
	</dict>
	<key>Gordon Brown</key>
	<dict>
		<key>year</key>
		<integer>2007</integer>
	</dict>
	<key>Tony Blair</key>
	<dict>
		<key>year</key>
		<integer>1997</integer>
	</dict>
	<key>Sir John Major</key>
	<dict>
		<key>year</key>
		<integer>1990</integer>
	</dict>
	<key>Baroness Margaret Thatcher</key>
	<dict>
		<key>year</key>
		<integer>1979</integer>
	</dict>
	<key>James Callaghan</key>
	<dict>
		<key>year</key>
		<integer>1976</integer>
	</dict>
	<key>Harold Wilson</key>
	<dict>
		<key>year</key>
		<integer>1964</integer>
	</dict>
	<key>Sir Edward Heath</key>
	<dict>
		<key>year</key>
		<integer>1970</integer>
	</dict>
	<key>Sir Alec Douglas-Home</key>
	<dict>
		<key>year</key>
		<integer>1963</integer>
	</dict>
	<key>Harold Macmillan</key>
	<dict>
		<key>year</key>
		<integer>1957</integer>
	</dict>
	<key>Sir Anthony Eden</key>
	<dict>
		<key>year</key>
		<integer>1955</integer>
	</dict>
	<key>Sir Winston Churchill</key>
	<dict>
		<key>year</key>
		<integer>1940</integer>
	</dict>
	<key>Neville Chamberlain</key>
	<dict>
		<key>year</key>
		<integer>1937</integer>
	</dict>
	<key>James Ramsay MacDonald</key>
	<dict>
		<key>year</key>
		<integer>1924</integer>
	</dict>
	<key>Stanley Baldwin</key>
	<dict>
		<key>year</key>
		<integer>1923</integer>
	</dict>
	<key>Andrew Bonar Law</key>
	<dict>
		<key>year</key>
		<integer>1922</integer>
	</dict>
	<key>David Lloyd George</key>
	<dict>
		<key>year</key>
		<integer>1916</integer>
	</dict>
	<key>Herbert Henry Asquith</key>
	<dict>
		<key>year</key>
		<integer>1908</integer>
	</dict>
	<key>Sir Henry Campbell-Bannerman</key>
	<dict>
		<key>year</key>
		<integer>1905</integer>
	</dict>
	<key>Arthur James Balfour</key>
	<dict>
		<key>year</key>
		<integer>1902</integer>
	</dict>
	<key>Archibald Primrose</key>
	<dict>
		<key>year</key>
		<integer>1894</integer>
	</dict>
	<key>Benjamin Disraeli</key>
	<dict>
		<key>year</key>
		<integer>1868</integer>
	</dict>
	<key>Henry John Temple</key>
	<dict>
		<key>year</key>
		<integer>1855</integer>
	</dict>
	<key>George Hamilton Gordon</key>
	<dict>
		<key>year</key>
		<integer>1852</integer>
	</dict>
	<key>Lord John Russell</key>
	<dict>
		<key>year</key>
		<integer>1846</integer>
	</dict>
</dict>
</plist>
